/* <!-- ==================START NAVBAR============================ --> */
#navbar {
    z-index: 1000;
    height: 120px;
    font-family: Cairo;
}

#navbar .nav-link {
    text-align: left;
}

#navbar .nav-link,
#sidebar .nav-link {
    font-size: 17px;
    font-weight: 600;
    color: var(--text-main-color);
}

#sidebar .offcanvas {
    margin: .5rem;
    width: 20rem;
}

.close-sidebar {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    #navbar {
        height: 95px;
    }

    #navbar .navbar-brand .nav-logo {
        width: 55px;
    }

    #navbar .navbar-toggler .side-bar-icon {
        width: 40px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #navbar {
        height: 105px;
    }

    #navbar .navbar-brand .nav-logo {
        width: 60px;
    }

    #navbar .navbar-toggler .side-bar-icon {
        width: 45px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #navbar .navbar-brand .nav-logo {
        width: 70px;
    }
}

/* <!-- ==================END NAVBAR============================== --> */
/* <!-- ==================START HERO SECTION====================== --> */
#hero-section .hero-text-header {
    letter-spacing: -2px;
    font-size: 80px;
    font-weight: 800;
    text-align: right;
    padding-top: 90px;
}

#hero-section .hero-image-container {
    display: block;
    min-width: 120px;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
    #hero-section .hero-text-header {
        font-size: 8vw;
        padding-top: 35px;
    }

    #hero-section .hero-main-text {
        font-size: 17px;
    }

    #hero-section .hero-figure-text {
        font-size: 17px !important;
    }

    #hero-section .btn-solid-main {
        font-size: 17px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #hero-section .hero-text-header {
        font-size: 38px;
        padding-top: 50px;
    }

    #hero-section .hero-main-text {
        font-size: 19px;
    }

    #hero-section .hero-figure-text {
        font-size: 19px !important;
    }

    #hero-section .btn-solid-main {
        font-size: 19px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #hero-section .hero-text-header {
        font-size: 56px;
        padding-top: 50px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    #hero-section .hero-text-header {
        font-size: 74px;
        padding-top: 50px;
    }
}


/* <!-- ==================END HERO SECTION============================ --> */

/* <!-- ==================START GALLERY SECTION====================== --> */

.item,
.half-item {
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.item .item-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#gallery-section .font-number {
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
    text-align: right;
}

#gallery-section .font-number .alf-text{
    font-family: Almarai;
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    #gallery-section .item,
    #gallery-section .half-item {
        height: 25rem;
    }

    #gallery-section .gallery-text-header {
        font-size: 25px !important;
    }

    #gallery-section .font-number {
        font-size: 35px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #gallery-section .gallery-text-header {
        font-size: 35px !important;
    }

    #gallery-section .font-number {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #gallery-section .gallery-text-header {
        font-size: 29px !important;
    }

    #gallery-section .font-number {
        font-size: 28px;
    }
}

/* <!-- ==================END GALLERY SECTION====================== --> */

/* <!-- ==================START ABOUT SECTION====================== --> */
#about-section .about-image-container {
    height: 452px;
}

#about-section .about-image-container img {
    border-radius: 20px;
}

#about-section .about-right-box {
    position: relative;
    bottom: 320px;
    left: 60px;
    overflow: hidden;
    width: 185px;
    height: 119px;
    border-radius: 15px;
}

#about-section .about-left-box {
    position: relative;
    bottom: 320px;
    right: 350px;
    overflow: hidden;
    border-radius: 15px;
    width: 235px;
    height: 122px;
}

/* Media Query for Mobile Devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
    #about-section .about-image-container {
        width: 350px;
        height: 350px;
        margin: auto;
    }

    #about-section .section-header {
        font-size: 40px;
    }

    #about-section .about-right-box {
        left: -10px;
    }

    #about-section .about-left-box {
        bottom: 254px;
        right: 101px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #about-section .section-header {
        font-size: 40px;
    }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
    #about-section .about-right-box {
        left: 14px;
        bottom: 410px;
    }

    #about-section .about-left-box {
        bottom: 281px;
        right: 125px;
    }
}

/* <!-- ==================END ABOUT SECTION========================= --> */

/* <!-- ==================START WORKING SECTION====================== --> */
#working-section .balls-number {
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #working-section .section-header {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    #working-section .section-header {
        font-size: 2rem;
    }
}

/* <!-- ==================END WORKING SECTION====================== --> */

/* <!-- ==================START CHOOSING SECTION====================== --> */
#choosing-section .slider-box .slider-item {
    height: 195px;
}

.vertical-slider {
    max-height: 500px;
    /* Set a max height for the container */
    overflow-y: auto;
    /* Make the container scrollable if items exceed the height */
    padding: 0.5rem;
    /* Add padding for better spacing */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.vertical-slider::-webkit-scrollbar {
    width: 0;

}

/* <!-- ==================END CHOOSING SECTION====================== --> */

/* <!-- ==================START CLIENTS SECTION====================== --> */
#clients-section .arrow-image-container {
    width: 203.95px;
    height: 200.34px;
    /* angle: -169.94 deg; */
    transform: rotateX(140deg);
}

#clients-section .owl-carousel {
    height: 380px;
}

#clients-section .owl-carousel {
    direction: ltr;
    background: linear-gradient(180deg, #DDF4FF 0%, #76C8F9 99.99%, #6240ED 100%, #6240ED 100.01%);
}

#clients-section .owl-carousel .item {
    background: linear-gradient(231.62deg, #FFFFFF 0%, #E0E0E0 100%);
    color: #989CA5;
}

#clients-section .client-image {
    width: 48px;
    height: 48px;
}


/* <!-- ==================END CLIENTS SECTION====================== --> */

/* <!-- ==================START QUESTION SECTION====================== --> */
#questions .accordion {
    border: none;

}

#questions .accordion-item {
    box-shadow: 5px 5px 20px 0px #0000000D;
    /* border-radius: 15px;     */
    border: 1px solid #DDDDDD;
}

#questions .accordion-button {
    text-align: right;
}

#questions .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
    font-weight: bolder;
}

.accordion-item {
    background-color: #81D0FF;
    color: var(--text-white-color);
}

.accordion-button:not(.collapsed) {
    background-color: #81D0FF;
    color: var(--text-white-color);
}

.accordion-button:not(.collapsed)::after {
    color: var(--text-white-color);

}

.accordion-button:not(.collapsed)::after {
    background-image: url('../assets/questions/accordingarrow.webp');
    transform: rotate(270deg);
}

/* <!-- ==================START QUESTION SECTION====================== --> */


/* <!-- ==================START CONTACT SECTION====================== --> */

#contact-section .section-header {
    font-size: 50px;
    font-family: Droid Arabic Kufi;
}

#contact-section .contact-dark-blue-text {
    font-size: 20px;
    font-family: Droid Arabic Kufi;
    line-height: 30px;
}

#contact-section .contact-section-header {
    font-family: Droid Arabic Kufi;
    font-size: 33px;
    font-weight: 700;
    color: var(--blue-color);
}

#contact-section input {
    font-family: Droid Arabic Kufi;
}

/* <!-- ==================END CONTACT SECTION====================== --> */